<div class="container-fluid">
    <div class="card rounded-0 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col d-flex">
                    <div class="icon-box">
                        <img [src]="course.courseLogo" alt="">
                    </div>
                    <div class="course-box px-3">
                        <div class="fs-5 text-truncate">{{course.courseName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>