<div *ngIf="popupConfig" class="modal" style="display:block!important">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div *ngIf="popupConfig?.type == 'confirm'" class="modal-body">
                <div class="row g-0">
                    <div class="col">
                        <p class="text-center confirm-message">{{popupConfig.text}}</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary btn-sm float-end rounded-0 mx-1"
                            (click)="popupConfig.cancel()">Cancel</button>
                        <button type="button" class="btn btn-outline-danger btn-sm float-end rounded-0 mx-1"
                            (click)="popupConfig.accept()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>